@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.youtube {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
};

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  position: fixed;
  inset: 0px;
  padding: 10px;
  background-color: white;
  z-index: 1001;
  overflow: auto;
}

.modal-content-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  color: black;
  overflow: auto;
}

.modal-action-bar {
  position: fixed;
  top: 16px;
  right: 16px;
  background: white;
  display: flex;
  justify-content: flex-end;
  /* Add any additional styling for the action bar */
}

.modal-btn {
  color: black;
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

.nav-btn {
  display: block !important;
}

.mobile-nav-links {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 4rem !important;
}

.mobile-nav-links a {
  padding: 1rem 0rem;
}

.desktop-nav-links {
  display: none;
}

@media screen and (min-width: 480px) {
  .nav-btn {
    display: none !important;
  }

  .desktop-nav-links {
    display: flex;
  }
}