@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.youtube {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
};

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  position: fixed;
  inset: 0px;
  padding: 10px;
  background-color: white;
  z-index: 1001;
}

.modal-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  color: black;
}

.modal-action-bar {
  display: flex;
  justify-content: flex-end;
  /* Add any additional styling for the action bar */
}

.modal-btn {
  color: black;
  cursor: pointer;
}